
.navbar .right ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(233, 217, 248);
    height: 70px;
    padding-left: 8px;
    padding-right: 8px;
   
}
.navbar .right ul .demo{
    background-color: rgb(240, 158, 35);
    width: 100px;
   cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
}
.navbar .right ul .demo:hover{
    background-color: rgb(192, 141, 64);
}
*{
    padding: 0%;
    margin: 0%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}